__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pyc
result*
musicxmlCache/
.vscode/
aws/
.local/
.config/
.cache/
upload_data.musicxml
