{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MusicXml to ABC Notation</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    {% block head %}
    {% endblock %}
</head>
<body style="    
  background-image:url('https://images.unsplash.com/photo-1551503766-ac63dfa6401c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=1950&q=80')
">
    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block body %}
        {% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2020 <a href="http://google.com" title="by Lucien">Lucien</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>