{% extends 'base.html' %}

{% block head %}
<title>Lucien's Converter</title>
{% endblock %}

{% block body %}
<div class="content" style="
    text-align: center;
">
    <h1 style="text-align: center">MusicXML to ABC Notation Converter</h1>


    <ul style="list-style-type:none;display: inline-flex;text-align: center;padding: 20px 20px;outline-style: none;">
        
        <li id = "file-box"style="background:rgba(61,153,245,1);height: 300px;width: 240px;border-width: 10px;border-color: white;margin-inline-end: 40px;">
            <h1 style="padding: 300px 0px 0px 0px;" id="file-button" class="uploadfile">Upload File</h1>
        </li>   
        
        <li id="text-box"style="background:rgb(0, 248, 165);height: 300px;width: 240px;border-width: 10px;border-color: white;">
        
            <h1 style="padding: 300px 0px 0px 0px;" id="text-button" class="submittext">Submit Text</h1>
        </li>  

    </ul>
    <br style="padding: 30px 0px 0px 0px;">

    <div id = "text" style="text-align: center">
        <form action="/convert_result/submission" method="POST" id="input">
            <textarea name="content" form="input" rows="8" cols="50"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <br>

    <div id = "file">
        <form action="/convert_result/upload" method="POST" enctype="multipart/form-data" style="text-align: center;">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>

</div>

    <script>

        $(document).ready(function() {
            $('#text').slideUp(0);
            $('#file').slideUp(0);
        });
       
        $('#text-box').hover(
            function(){$(this).css('box-shadow', '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)');}
            ,function(){$(this).css('box-shadow', '0 0 0 0');
        });
        $('#file-box').hover(
            function(){$(this).css('box-shadow', '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)');}
            ,function(){$(this).css('box-shadow', '0 0 0 0');
        });
       
        $('#text-button').click(function() {
            $('#text').slideToggle(100);
            $('#file').slideUp(100);
          });
          
          $('#file-button').click(function() {
            $('#file').slideToggle(100);
            $('#text').slideUp(100);
          });
          
    </script>
</div>
{% endblock %}